.container-cards{
    margin-top: 5%;
    height: 70vh;
    
    /* top: 50px; */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid black;
    
  }
  
  .card {
    display: flex;
    height: 380px;
    width: 400px;
    background-color: #C3BBB2;
    border-radius: 10px;
    
    border: 1px solid black;
   
    /* margin-left: 50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateX(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  .wrapper-cards{
    border: 2px dashed black;
    padding: 47%;
    margin: 2%;
    
    
  }
  
  .title {
    color: black;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
    text-decoration: underline;
  }
  .name{
    color: black;
    font-weight: 900;
    position: absolute;
    left: 70px;
    bottom: 50px;
  }
  .name2{
    color: black;
    font-weight: 900;
    position: absolute;
    left: 70px;
    bottom: 0px;
  }

  .image{
    position: absolute;
    left: 10px;
    bottom: 20px;
    width:10%;
    border-radius: 80%;
  }
  
  
  
  